@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 18px;
  color: hsl(217, 19%, 35%);
  background: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 1.5rem;
}

img {
  border-radius: 50%;
  width: 1.75rem;
}

p {
  font-size: 0.8125rem;
  line-height: 13px;
}

span {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 0.6875rem;
  line-height: 11px;
}

h1 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-block: 1.5rem;
  min-width: 100%;
}

quote {
  font-size: 0.8125rem;
  line-height: 18px;
  color: hsla(0, 0%, 100%, 0.7);
}

main {
  display: grid;
  width: max-content;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1.5rem;
}
main article {
  border-radius: 8px;
  padding: 2rem;
}
main article figure {
  display: flex;
}
main article figure figcaption {
  padding-left: 1rem;
}
main article.testimonial-one {
  background: hsl(263, 55%, 52%);
}
main article.testimonial-one img {
  border: 2px solid hsl(264, 82%, 70%);
}
main article.testimonial-one h1, main article.testimonial-one p {
  color: hsl(0, 0%, 100%);
  max-width: 90ch;
}
main article.testimonial-two {
  background: hsl(217, 19%, 35%);
}
main article.testimonial-two h1, main article.testimonial-two p {
  color: hsl(0, 0%, 100%);
}
main article.testimonial-three, main article.testimonial-five {
  background: hsl(0, 0%, 100%);
}
main article.testimonial-three span, main article.testimonial-five span {
  color: hsla(217, 19%, 35%, 0.5);
}
main article.testimonial-three quote, main article.testimonial-five quote {
  color: hsla(217, 19%, 35%, 0.7);
}
main article.testimonial-three h1, main article.testimonial-three p, main article.testimonial-five h1, main article.testimonial-five p {
  color: hsl(217, 19%, 35%);
}
main article.testimonial-four {
  background: hsl(217, 30%, 14%);
}
main article.testimonial-four img {
  border: 2px solid hsl(263, 55%, 52%);
}
main article.testimonial-four h1, main article.testimonial-four p {
  color: hsl(0, 0%, 100%);
}
@media only screen and (min-width: 1025px) {
  main article.testimonial-one {
    grid-column: 1/span 2;
  }
  main article.testimonial-two {
    grid-column: 3;
  }
  main article.testimonial-three {
    grid-column: 1;
    grid-row: 2;
  }
  main article.testimonial-four {
    grid-column: 2/span 2;
    grid-row: 2;
  }
  main article.testimonial-five {
    grid-column: 4;
    grid-row: 1/span 2;
  }
}
@media only screen and (min-width: 1025px) {
  main {
    grid-template-columns: repeat(4, minmax(14rem, 19rem));
  }
}

/*# sourceMappingURL=output.css.map */
