// specific styles for the testimonial section
main{
  display: grid;
  width: max-content;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1.5rem;
   article{
     border-radius: 8px;
     padding: 2rem;
    figure{
      display: flex;

      figcaption{
        padding-left: 1rem;
      }
    }
      &.testimonial-one{
        background: $violet-200;

        img{
          border: 2px solid $violet-100
        }

        h1, p{
          color: text-clr($violet-200);
        }
      }
      &.testimonial-two {
        background: $grayish-blue-200;

        h1, p{
          color: text-clr($grayish-blue-200);
        }
      }
      &.testimonial-three, 
      &.testimonial-five {
        background: $white;

        span{
          color: $grayish-blue-opacity-50;
        }

        quote{
          color: $grayish-blue-opacity-70;
        }

        h1, p{
          color: text-clr($white);
        }
      }
      &.testimonial-four {
        background: $blackish-blue;

        img{
          border: 2px solid $violet-200;
        }

        h1, p{
          color: text-clr($blackish-blue);
        }
      }
      @media only screen and (min-width: 1025px){

        &.testimonial-one{
          grid-column: 1 / span 2;
        }
        &.testimonial-two{
          grid-column: 3;
        }
        &.testimonial-three{
          grid-column: 1;
          grid-row: 2;
        }
        &.testimonial-four{
          grid-column: 2 / span 2;
          grid-row: 2;
        }
        &.testimonial-five{
          grid-column: 4;
          grid-row: 1 / span 2;
        }
      }
    }
  @media only screen and (min-width: 1025px) {
    grid-template-columns: repeat(4, minmax(14rem, 17rem));
  }
}