main{
   article{
     border-radius: 8px;
     padding: 1.5rem;
    figure{
      display: flex;


      figcaption{
        padding-left: 1rem;
      }
    }
      &.testimonial-one{
        background: $violet-200;

        img{
          border: 2px solid $violet-100
        }

        h1, p{
          color: text-clr($violet-200);
        }
      }
      &.testimonial-two {
        background: $grayish-blue-200;

        h1, p{
          color: text-clr($grayish-blue-200);
        }
      }
      &.testimonial-three, 
      &.testimonial-five {
        background: $white;

        h1, p{
          color: text-clr($white);
        }
      }
      &.testimonial-four {
        background: $blackish-blue;

        img{
          border: 2px solid $violet-200;
        }

        h1, p{
          color: text-clr($blackish-blue);
        }
      }
   }
}