// simple reset and global styles
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// global styles for the body
body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: $fs-13;
  font-weight: $fw-500;
  line-height: $lh-18;
  color: $grayish-blue-200;
  background: $grayish-blue-100;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 4rem 2rem;
}

img{
  border-radius: 50%;
  width: 1.75rem;
}

p{
  font-size: $fs-13;
  line-height: $lh-13;
}

span{
  color: $gray-opacity-50;
  font-size: $fs-11;
  line-height: $lh-11;
}

h1{
  font-size: $fs-20;
  font-weight: $fw-600;
  line-height: $lh-auto;
}

quote{
  font-size: $fs-13;
  line-height: $lh-18;
  color: $gray-opacity-70;
}
